/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #24c5c5;
    color: #fff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

header h1 {
    font-size: 2.5rem;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

header nav ul li a:hover {
    color: #ff6347;
}

/* Sections */
.section {
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin-bottom: 20px;
}

ul li {
    font-size: 1.2rem;
}

/* Projects Section */
.project-list {
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.project-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #79dfc9;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
